* {
    box-sizing: border-box;
  }

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: white;
    background-color: #1F2937;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: left;
    font-size: 30px; 
    flex-wrap: wrap;
  }
  
  /* Style the header bar links */
  .header a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .header a:hover {
    background-color: #ddd;
    color: #1F2937  ;
  }

.section1{
display: flex;
flex-wrap: wrap;
background-color:#1F2937 ;
color: white;
justify-content: center;
align-items: center;
}

.lefts1{
    flex: 50%;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding: 20px;
    
}

.rights1{
    flex: 50%;
    flex-wrap: wrap;
    background-color: #1F2937;     
    padding: 20px;
    }

.rimage{
    flex-wrap:wrap;
    background-color: gray;
    padding: 50px;
    width:500px;
    height:300px;
    justify-content:flex-end;
}

.signup{
    flex-wrap: wrap;
    background-color: #3882F6;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    width: 120px;
    border-color: white;
    border: 3px;
}

.section2{
    display: flex;
    flex-wrap: wrap;
    background-color:white ;
    color: #1F2937;
   justify-content: center;
    }

.imagegroup{
    display: flex;
    background-color: white;
    justify-content:center;
    font-size: 30px; 
    flex-wrap: wrap;
    height: 150px;
    margin-bottom: 0;
    }


.fakeimage{
    display: flex;
    border: 5px solid #3882F6;
    flex-wrap: wrap;
    width: 150px;
    height:150px;
    margin:50px; 
    border-radius:25px;
    padding:30px;
}

.textgroup{
    display: flex;
    background-color: white;
    justify-content:center;
    font-size: 30px; 
    flex-wrap: wrap;
    color: black;
    text-align: center;
    }

.faketext{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin:30px;
    border-radius:25px;
    padding: 30px;
    font-size: 18px;
    }

.section3{
    display: flex;
    flex-wrap: wrap;
    background-color:#E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px;
}

.section4{
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    color: #1F2937;
}
.box{
    display: flex;
    flex-wrap: wrap; 
    background-color: #3882F6;
    padding:30px;
    margin:20px;
    height:200px;
    width:80%;
   justify-content: center;
}

.part1{
flex: 70%;
flex-wrap: wrap;
color: white;
padding: 30px;
}
.part2{
    flex: 30%;
    flex-wrap: wrap;
}
